*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-dark: #083b27;
    --primary: #15803d;
    --primary-light: #d9efcf;
    --text-heading: #092d22;
    --text-muted: #64748b;
    --border-color: #d1d5db;
    --bg-color: #f1f5f9;
    --white: #ffffff;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.container{
    border-radius: 12px;
    height: 73vh;
    width: 26vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.container h1{
    margin-top: 2vh;
    font-size: 2rem;
}

.container p{
    margin-top: 2vh;
    font-size: 0.9rem;
}

.container .input{
    height: 20vh;
    margin-top: 2.5vh;
}

.container .input .wrapper{
    display: flex;
    margin-top: 1vh;
}

.container .input .wrapper input{
    border: 0.8px solid grey;
    height: 6vh;
    width: 25.5vw;
    padding-left: 2vw;
    font-size: 1rem;
    background: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.container .input .wrapper span{
    border: 0.8px solid #15803d;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 3vw;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    background-color: rgb(218, 241, 218);
}

.container .input button{
    border: none;
    border-radius: 8px;
    margin-top: 2vh;
    width: 100%;
    height: 7.2vh;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--white);
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.container .input button:hover{
    background-color: #187f22;
}

.container img{
    height: 34vh;
    width: 26vw;
    margin-top: 1vh;
}

.container a{
    text-decoration: none;
    align-self: center;
    margin-top: 2vh;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-heading);
}
